<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TPJ_FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>publicWeb.jspx</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jspx</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AuthenticationVerificationFilter</display-name>
    <filter-name>AuthenticationVerificationFilter</filter-name>
    <filter-class>Com.sanjeet.Filters.AuthenticationVerificationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationVerificationFilter</filter-name>
    <url-pattern>*.jspx</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Authentication</display-name>
    <filter-name>Authentication</filter-name>
    <filter-class>Com.sanjeet.Filters.Authentication</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Authentication</filter-name>
    <url-pattern>/Employeelogin.jspx</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdministratorHomePage</display-name>
    <filter-name>AdministratorHomePage</filter-name>
    <filter-class>Com.sanjeet.Filters.AdministratorHomePage</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdministratorHomePage</filter-name>
    <url-pattern>/AdministratorPage.jspx</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PublicPageFilter</display-name>
    <filter-name>PublicPageFilter</filter-name>
    <filter-class>Com.sanjeet.Filters.PublicPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PublicPageFilter</filter-name>
    <url-pattern>/publicWeb.jspx</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationVerificationFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>logoutFilter</display-name>
    <filter-name>logoutFilter</filter-name>
    <filter-class>Com.sanjeet.Filters.logoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logoutFilter</filter-name>
    <url-pattern>/logout.jspx</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EntryLogsFiler</display-name>
    <filter-name>EntryLogsFiler</filter-name>
    <filter-class>Com.sanjeet.Filters.EntryLogsFiler</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EntryLogsFiler</filter-name>
    <url-pattern>/Entrylogs.jspx</url-pattern>
  </filter-mapping>
</web-app>